nav .row{
    justify-content: space-between;
    align-items: center;
}

.odinlogo>div,
.links li{
    display: inline-block;
}

.links li:nth-of-type(2){
    border-right: 1px solid #bbb;
    padding-right: 5px;
    margin-right: 5px;
}
.links li:last-of-type{
    position: relative;
}
.user-image{
    background: 
        url(../img/8964341.jpg) 0 0 /cover no-repeat;
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 0px;
}