.row > [class^="c-"] {
  border: none;
  background: none;
}

nav .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.odinlogo > div,
.links li {
  display: inline-block;
}

.odin-header {
  font-family: "Caesar Dressing", cursive;
  font-size: 30px;
  text-decoration: none;
  color: #cc9543;
}

.links li:nth-of-type(2) {
  border-right: 1px solid #bbb;
  padding-right: 5px;
  margin-right: 5px;
}

.links li:nth-of-type(2) a {
  display: inline-block;
}

.links li:nth-of-type(2) a::after {
  color: rgba(74, 74, 74, 0.7);
  display: inline-block;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.links li:last-of-type {
  position: relative;
}

.links a {
  font-family: "Open Sans", sans-serif;
  color: rgba(74, 74, 74, 0.7);
  font-weight: 800;
  padding: 10px;
}

.links a:hover {
  color: black;
}

.user-image {
  background: url("../img/8964341.jpg") 0 0/cover no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.profile-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-card h2 {
  color: rgba(74, 74, 74, 0.7);
}

.profile {
  background: url("../img/8964341.jpg") 0 0/cover no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

main h2,
main h3 {
  color: rgba(74, 74, 74, 0.7);
  font-weight: bold;
}

main header h1 {
  text-align: center;
  color: #cc9543;
  font-weight: 100;
}

main p {
  color: rgba(74, 74, 74, 0.7);
  line-height: 1.88em;
}

main a {
  color: rgba(74, 74, 74, 0.7);
  text-decoration: underline;
}

main a:hover {
  color: black;
  text-decoration: none;
}

main .skills p,
main .more-info p {
  text-align: center;
}

main .skills a,
main .more-info a {
  color: #cc9543;
}

main .skills .huge,
main .more-info .huge {
  font-size: 35px;
}

main .modules .mod-img {
  background: url("../img/badge.svg") 50%/80% no-repeat;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  -webkit-box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.1);
}

main .modules h3 {
  font-size: 20px;
}

main .modules .mod-details {
  padding: 0 0 0 20px;
}

main .modules .mod-details a {
  text-decoration: none;
}

main .modules .mod-details span {
  color: rgba(74, 74, 74, 0.7);
}

main .modules .mod-button {
  width: 100%;
}

main .modules .mod-button a {
  widows: 100%;
  display: block;
  background-color: #6abfc3;
  border-radius: 0.2em;
  -webkit-box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2px;
  padding: 1rem 3.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

main .modules article .row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main .more-info .mod-button a {
  background-color: #cc9543;
}

.border-shadow {
  -webkit-box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: linear-gradient(to bottom, #fff, #eee);
}
/*# sourceMappingURL=main.css.map */